<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"><a routerLink="/" uk-icon="icon: home"></a>
      </li>
      <li><a routerLink="/accounts">Accounts</a></li>
      <li>
        <a href="#">Customers</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a routerLink="/customers">Search Customers</a></li>
            <li><a routerLink="/new-customer">New Customer</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>
