<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>Form patients</title>

  <link rel="stylesheet" href="/assets/styles.css">


</head>
<body>
<!--<div layout:fragment="content1">
  <div class="col-md-6 offset-3">
    <form method="post" th:action="@{/admin/save}">
      <div>
        <label for="nom">Nom</label>
        <input id="nom" class="form-control" type="text" name="nom" th:value="${etudiant.nom}">
        <span class="text-danger" th:errors="${etudiant.nom}"></span>
      </div>
      <div>
        <label for="email">email</label>
        <input id="email" class="form-control" type="text" name="email" th:value="${etudiant.email}">
        <span class="text-danger" th:errors="${etudiant.email}"></span>
      </div>
      <div>
        <label for="dateNaissance">Date naissance</label>
        <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${etudiant.dateNaissance}">
        <span class="text-danger" th:errors="${etudiant.dateNaissance}"></span>
      </div>
      <div>
        <label for="regle">regle</label>
        <input id="regle" type="checkbox" name="en_regle" th:checked="${etudiant.en_regle}">
        <span class="text-danger" th:errors="${etudiant.en_regle}"></span>
      </div>
      <div>
        <label for="genre">sexe</label>
        <select id="genre" th:value="${etudiant.genre}" name="genre" class="form-control">
          <option  value="MASCULIN" >MASCULIN</option>
          <option value="FEMININ">FEMININ</option>
          <option></option>
        </select>
        <span class="text-danger" th:errors="${etudiant.genre}"></span>

      </div>
      <input class="form-control" type="submit" value="save">

    </form>
  </div>
</div>-->

<div class="form-body" layout:fragment="content1">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Create a new student</h3>
          <form method="post" th:action="@{/admin/save}">

            <div class="col-md-12">
              <label for="nom">Nom</label>
              <input id="nom" class="form-control" type="text" name="nom" th:value="${etudiant.nom}">
              <span class="text-danger" th:errors="${etudiant.nom}"></span>
            </div>

            <div class="col-md-12">
              <label for="email">email</label>
              <input id="email" class="form-control" type="text" name="email" th:value="${etudiant.email}">
              <span class="text-danger" th:errors="${etudiant.email}"></span>
            </div>

            <div class="col-md-12">
              <label for="dateNaissance">Date naissance</label>
              <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${etudiant.dateNaissance}">
              <span class="text-danger" th:errors="${etudiant.dateNaissance}"></span>
            </div>



            <div class="col-md-12 mt-3">
              <div>
                <label for="genre">genre</label>
                <select id="genre" th:value="${etudiant.genre}" name="genre" class="form-control">
                  <option  value="MASCULIN" >MASCULIN</option>
                  <option value="FEMININ">FEMININ</option>
                  <option></option>
                </select>
                <span class="text-danger" th:errors="${etudiant.genre}"></span>

              </div>

            </div>

            <div class="col-md-12">
              <label for="regle">regle</label>
              <input id="regle" type="checkbox" name="en_regle" th:checked="${etudiant.en_regle}">
              <span class="text-danger" th:errors="${etudiant.en_regle}"></span>
            </div>


            <div class="form-button mt-3">
              <button id="submit" type="submit" value="save" class="uk-button uk-button-primary demo"  onclick="UIkit.notification({message: 'student was added successfully', status: 'success'})">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
