<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="template1"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>

    <meta charset="UTF-8">
    <title>home</title>

</head>
<body>

<div layout:fragment="content1">


    <h1 class="uk-position-center-left uk-heading-large uk-heading-bullet" style="color: #7e7e7e">Welcome !!!</h1>
    <img marginheight="10" align="right" src="https://user-images.githubusercontent.com/61352259/157984130-ab483bd2-8dc8-4dbf-95fb-e49e35e09290.gif" alt="Coder GIF" height="280" style="margin: 80px">

    </div>

</body>
</html>
