  <div class="container d-flex justify-content-center ">

    <ng-container  *ngIf="customers | async as listCustomers; else failureOrLoading">
    <div class="uk-card uk-card-default uk-card-body uk-width-4-5@s">

      <h3 class="uk-card-title">Customers</h3>
      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
          <fieldset class="uk-fieldset">
            <div class="uk-margin">
              <div class="row">
                <div class="col-md-7">
                  <input class="uk-input" type="text" formControlName="keyword" placeholder="Input">

                </div>
                <div class="col-md-4 mt-2">
                  <button uk-icon="icon: search"></button>

                </div>
              </div>

            </div>
          </fieldset>

        </form>
      </div>
      <table class="uk-table uk-table-striped">
        <thead>
        <tr>
          <th>ID</th><th>Name</th><th>email</th><th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers | async">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button (click)="handleDeleteCustomer(c)"   uk-icon="icon: trash">
            </button></td>
          <td>
            <button (click)="handleCustomerAccounts(c)" class="uk-button uk-button-secondary">
              <i>Accounts</i>
            </button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-danger">
        {{errorMessage}}

      </div>
    </ng-container>
    <ng-template #loading>
      <progress  id="js-progressbar" class="uk-progress align-content-center" value="10" max="100"></progress>

      <script>

        UIkit.util.ready(function () {

          var bar = document.getElementById('js-progressbar');

          var animate = setInterval(function () {

            bar.value += 100;

            if (bar.value >= bar.max) {
              clearInterval(animate);
            }

          }, 1000);

        });

      </script>
    </ng-template>

  </ng-template>


</div>
