<div class="container d-flex justify-content-center">
  <div class="uk-child-width-6-7@s uk-grid-match" uk-grid>

  <div  class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <h3 class="uk-card-title">New Customer</h3>

      <form [formGroup]="newCustomerformGroup" (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" formControlName="name" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerformGroup.controls['name'].touched
      && newCustomerformGroup.controls['name'].errors
      && newCustomerformGroup.controls['name'].errors!['required']">
  Name is Required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerformGroup.controls['email'].touched
      && newCustomerformGroup.controls['email'].errors
      && newCustomerformGroup.controls['email'].errors!['required']
      ">
  Email is not valid
          </span>
        </div>
        <button [disabled]="!newCustomerformGroup.valid" class="uk-button uk-button-primary">Save</button>
      </form>
    </div>
</div>
</div>


